body {
    margin: 0;
    padding: 0;
  }
  #map {
    margin-top: 75px;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 73%;
  }
  /* .mapboxgl-canvas{
    width: 100px;
  } */
  #menu {
    position: absolute;
    background: #efefef;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 35px;
    }


/* 

h1{
    display: flex;
    justify-content: center;
    justify-items: center;
   
} */
/* 
.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.content{
    margin-left: 970px;
    margin-right: 10px;
    margin-top: 20px;
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} */






   /* Flexbox */

.main{
    display: flex;
    flex-direction: column; 
    width: fit-content;
    height: 100vh;
}
.container2{
    display: flex;
    flex-direction: row;
}
.content{
    width: 30%;
    margin-left: 1000px;
    padding: 15px;
}
.calculation-box {
    height: 75px;
    width: 150px;
    position: absolute;
    bottom: 40px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px;
    text-align: center;
    }
     
    p {
    font-family: 'Open Sans';
    margin: 0;
    font-size: 13px;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .container-fluid{
        width: auto;
        
    }
    .container-fluid{
        margin-right: 450px;
        justify-content: space-between;
    }